# IDEA files
.idea/
*.iml
*.ipr
*.iws

# Build output directories
target/

# Logs
logs/
*.log


# Docker
Dockerfile*
docker-compose.yml

# IntelliJ idea
.outline
.idea
.classpath
.project
.settings/


